### Dependencies
node_modules/

### Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

### Runtime data
pids/
*.pid
*.seed

### Build outputs
dist/
build/
.cache/

### Testing
coverage/
.nyc_output/

### Environment files
.env
.env.*
!.env.example

### Tools
.eslintcache
.parcel-cache/
.tsbuildinfo

### OS-specific
.DS_Store


.dressed